
<ul>
    <% for(let ele of info) {%>
        <h1>Website Info:</h1>
        <li><%= ele.website  %></li>
        <li><%= ele.username  %></li>
        <li><%= ele.password  %></li>
        <li>===================</li>
    <% } %>  
</ul>